/venv/
/.mypy_cache/
/dir/
/dist/
my_file.doc
mypy.md
my_file.json
python_13.spec
samlle.py
win_log.md
Компьютер победил, назвав городМосква
/build/python_13/Analysis-00.toc
/data/cities.py
/build/python_13/base_library.zip
/data.json
/game_log.txt
/build/python_13/EXE-00.toc
/.idea/misc.xml

/.idea/modules.xml
/my_file.txt
/new_products.csv
/build/python_13/PKG-00.toc
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/build/python_13/python_13.exe.manifest
/build/python_13/python_13.pkg
/.idea/python_329.iml
/build/python_13/PYZ-00.pyz
/build/python_13/PYZ-00.toc
/.idea/vcs.xml
/build/python_13/warn-python_13.txt
/build/python_13/xref-python_13.html
/code_samples/students.csv
/data/cities_set.json
/code_samples/log.txt
/code_samples/logs.txt
